{% block title %}

    <div style="display: flex; justify-content: flex-end">
        <img src="{{ static 'introduction/mpi.png'}}" width="auto" height="100"/>
    </div>

    Welcome

{% endblock %}


{% block content %}

<div>
    <p>
        We are researchers at the Max Planck Institute in Plön, Germany, studying human decision-making.
    </p>
    <p>
        The purpose of this research study is to investigate decision making.
        You will interact anonymously with another participant who is also taking part in this study.
        The study will take approximately {{ C.session_time }} minutes.
    </p>
    <p>
        For your participation in the study, you will earn {{ participation_fee }} for simply participating.
        In addition, you can earn an additional bonus up to {{ C.max_bonus }}, depending on your choices and the choices of other participants.
    </p>
    <p>
        The decision-making situation will be completely anonymous and there is no possibility that you can identify
        or be identified by any other participant, nor the researcher. Your data will be kept confidential.
        It will be saved under an anonymous ID that does not identify you personally.
    </p>
    <p>
        When the research is completed, the aggregate results of this study will be submitted for publication to a scientific journal.
        After publication, the data files will be uploaded to a public repository, allowing other scientists to independently verify the results.
        These publicized data files will not contain any information about the identity of the participants.
    </p>
    <p>
        Participation and withdrawal: Your participation in this study is completely voluntary.
        You may refuse to participate without penalty or loss of benefit to which you may otherwise be entitled.
    </p>
    <p>
        By clicking “Next”, I confirm that I have read the description of this study and that I give my consent to participate.
    </p>
    <p>
        For questions, concerns, or suggestions about this research, please contact: <br>
        <a href="mailto:coop@evolbio.mpg.de"> coop@evolbio.mpg.de </a>
    </p>
    <p>
        Charlotte Rossetti <br> Max Planck Institute for Evolutionary Biology, Germany <br>
        <img src="{{ static 'introduction/signature.png'}}" width="auto" height="100"/>

    </p>
</div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}