{% block title %}
    Welcome
{% endblock %}

{% block content %}

<div>
    <p>
        You are about to participate in a session on decision-making,
        and you will be paid for your participation immediately after the session.
        What you earn depends partly on your decisions, partly on the decisions of others.
    </p>
    <p>
        We will start with a brief instruction period.
        During the instruction period you will be given a description of the main features of the session.
    </p>
</div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}
