{% block title %}
    Demographic Questions
{% endblock %}

{% block content %}

    <p>
        Please answer the following questions. These are used for demographic purposes only.
        This information will not be associated with your name. You remain anonymous to all the other players and the experimenters.
    </p>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}
